@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}

.container {
    max-width: 768px;
    background: #FFFFFF;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 90px;
    background: #C4C4C4;
    display: flex;
}

.center-title {
    margin: auto;
    align-self: center;
}

.center-title--text {
    color: #000000;
    font-size: 24px;
    line-height: 20px;
}

.main {
    display: flex;
    padding: 10px 0px 0px 13px;
    align-content: start;
    flex-wrap: wrap;
}


.tile--rectangle-large {
    width: calc(100% - 12px);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}


.rectangle-large__square-big {
    width: calc(( 100% - 20px)*2/3 + 10px );
    margin: 0;
    position: relative;
    overflow-y: auto;
}


.rectangle-large__square-big::before {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
}

.square-big__inner-text {
    position: absolute;
    margin: 30px 46px 25px 25px;
    top: 0;
    left: 0;
    font-size: 18.1121px;
    line-height: 26px;
    text-align: center;
}

.rectangle-large__small-container {
    width: calc(( 100% - 20px)/3 );
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rectangle-large__square-small {
    height: calc( 50% - 5px );
    display: flex;
    align-items: flex-end;
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
}

.tile {
    display: flex;
    align-items: flex-end;
    min-height: 155px;
    width: calc((100% - 32px)/3);
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.tile--special-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    position: relative;
    padding: 0;
}

.attention-sign {
    display: none;
}

.attention-bg {
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-ship.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tile--special-bg:hover .attention-bg{
    box-shadow: inset (0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: blur(5px);
}

.attention-bg__text {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.tile--special-bg:hover>.attention-sign {
    display: flex;
    position: absolute;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    color: #F55E62;
    background: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    justify-content: center;
    align-items: center;
}


.tile--rectangle {
    width: calc((100% - 32px)*2/3 + 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}

.tile--person-inner {
    width: calc( 100% - 30px);
    margin: 15px 15px 15px 15px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 19px;
}

.person--item-list {
    list-style: none;
}

.person--item {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.person--item>div:first-child {
    max-width: 47%;
    text-align: left;
}

.person--item>div:nth-child(2) {
    flex: 1 0;
    border-bottom: 1px dashed #000;
    height: 1em;
    margin: 0.35em;
}

.person--item>div:last-child {
    max-width: 131px;
    text-align: right;
}


.color1 {
    color: #FFFFFF;
    background: #A2A9B7;
}

.color2 {
    color: #000000;
    background: #E8EBED;
}

.color3 {
    color: #000000;
    background: #90BCE8;
}

.color4 {
    color: #000000;
    background: #FEBF26;
}

.color5 {
    color: #000000;
    background: #E3EBD3;
}

.color6 {
    color: #000000;
    background: #FFAA87;
}

.color7 {
    color: #000000;
    background: #F55E62;
}

.color8 {
    color: #000000;
    background: #C7ABD4;
}

@media (max-width: 480px) {
    .main {
        padding: 10px 0px 0px 0px;
        justify-content: space-between;
    }

    .tile--rectangle-large {
        width: 100%;
    }

    .tile {
        width: calc((100% - 10px)/2);
        min-height: 155px;
        margin-right: 0;
    }

    .tile--rectangle {
        width: 100%;
    }

    .media-order0 {
        order: 0;
    }

    .media-order1 {
        order: 1;
    }

    .media-order2 {
        order: 2;
    }

    .media-order3 {
        order: 3;
    }

    .media-order4 {
        order: 4;
    }

    .media-order5 {
        order: 5;
    }
 
    .color5 {
        display: none;
    }
    
    .tile--special-bg {
        display: none;
    }
}

.footer {
    width: 100%;
    height: 90px;
    background: #C4C4C4;
    display: flex;
}